<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function confirmarDelecao(event) {
            // Pergunta ao usuário se ele tem certeza
            const confirmacao = confirm("Tem certeza que deseja deletar este usuário?");
            
            // Se o usuário cancelar, previne o comportamento padrão do link
            if (!confirmacao) {
                event.preventDefault();
            }
            
            return confirmacao;
        }
    </script>
</head>
<body>

    <form method="post">
        <input type="text" name="filtro" id="filtro">
        <input type="submit" value="Pesquisar">
    </form>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Senha</th>
            <th>Foto</th>
            <th>Editar</th>
            <th>Deleta</th>
        </tr>
        
        <% Usuarios.forEach(function(usuario){%>
            <tr>
                <td><%= usuario._id %></td>
                <td><%= usuario.nome %></td>
                <td><%= usuario.email %></td>
                <td><%= usuario.senha %></td>
                <td><%= usuario.foto %></td>
                <td>
                    <a href="/edtusuario/<%= usuario._id %>" >Editar</a>
                </td>
                <td>
                    <a href="/delusuario/<%= usuario._id %>" onclick="return confirmarDelecao(event)">Deleta</a>
                </td>
            </tr>
        <%})%>
        
    </table>
</body>
</html>